header.sticky{
    position: fixed;
    top: 8px;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background: var(--background-header-sticky);
    box-shadow: rgba(15, 17, 12, .15) 0 3px 8px;
    z-index: 100;
}

header.sticky :is(.logo, .navlinks li .navlink){
    color: var(--color-nav-logo-links-sticky);
}

header.sticky .logo span{
    color: var(--color-logo-secondary-sticky);
}

header.sticky .navlinks li a:hover{
    color: var(--color-navlinks-hover-sticky);
}

header.sticky .navlinks .navlink::after{
    background: var(--color-navlinks-underline-sticky);
}

.navlinks .navbar-links .navlink{
    position: relative;
    color: var(--color-navlinks);
    transition: .7s ease;
}

.navlinks li a:hover{
    color: var(--color-navlinks-hover);
}

.navlinks .navbar-links .navlink::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scale(0);
    width: 100%;
    height: 2px;
    background: var(--background-underline-navlinks);
    border-radius: 10px;
    transition: transform 400ms;
}

.navlinks .navbar-links a:hover::after{
    transform: scale(1);
    transform-origin: left;
}

.navlinks .navbar-links a.active{
    color: var(--color-navlink-active);
}

.navlinks .navbar-links a.active::after{
    transform: scale(1);
}

.navigation-overlay{
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in-out;
}

@media screen and (max-width: 1250px) {
    header.sticky{
        width: 95%;
    }
}

@media screen and (max-width: 1024px) {
    header nav{
        padding: 0 20px;
    }
}

@media screen and (max-width: 780px) {
    .icon-open-menu{
        color: var(--color-icon-open-menu);
    }
    .icon-close-menu{
        color: var(--color-icon-close-menu);
    }
    .icon-open-menu svg,
    .icon-close-menu svg{
        width: 34px;
        height: 34px;
    }
    header.sticky{
        top: 0;
        width: 100%;
        left: 0;
        transform: translateX(0);
        border-radius: 0;
    }
    header.sticky .icon-open-menu{
        color: var(--color-icon-open-menu-sticky);
    }
    header.sticky .icon-close-menu svg{
        color: var(--color-icon-close-menu-sticky);
    }

    .navigation .navlinks{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
    }

    .navlinks .navbar-links{
        position: relative;
        padding: 5px 10px;
        width: 100%;
        transition: 400ms ease;
    }

    .navlinks .navbar-links .navlink{
        color: var(--color-navlinks-menu);
    }

    .navlinks .navbar-links a.active{
        color:var(--color-navlink-active-menu);
    }

    .navlinks .navbar-links .navlink::after{
        background: var(--background-underline-navlinks-menu);
        transition: transform 500ms;
    }

    .menu{
        position: fixed;
        top: 0;
        right: -1000px;
        width: 50%;
        height: 100vh;
        background: var(--background-menu);
        padding: 90px 20px;
        transition: .5s ease;
        z-index: 10;
    }

    .menu.show_menu{
        right: 0;
    }

    .logo-menu .logo{
        color: var(--color-logo-menu);
    }

    .logo-menu .logo span{
        color: var(--color-logo-secondary);
    }

    .navigation-overlay.show_overlay{
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 610px) {
    .menu{
        width: 70%;
    }
}

@media screen and (max-width: 430px) {
    .menu{
        width: 100%;
    }

    .navigation-overlay.show_overlay{
        display: none;
    }

    .navigation .logo-menu{
        opacity: 1;
        visibility: visible;
    }

    .navlinks li{
        bottom: 0;
    }
}